.socicons
{
	margin-left: 3%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.socicons:hover
{
filter: grayscale(0%);
}
.logo
{
	width: 7%;
	float: right;
}
.p
{
	font-size: 150%; 
	text-align: center;
}
.footerdiv
{
	height: 20px; 
	margin-left: 35%; 
	position:absolute;
	bottom:0; 
	margin-top: -1%; 
	width: 80%;
}
.envelope
{
	color:#fff; margin-left: 10%;
}
@media only screen and (max-width: 500px) {
	.logo
	{
		margin-top: 3%;
		width: 15%;
	}
	.envelope
	{
		color:#fff;
	}
	.footerdiv
	{
		height: 20px;
		margin-left: 23%;
		position:relative;
		bottom: 0;
	}

}

