
/*Large Screen CSS*/
	body
	{
		overflow: none;
	}
	.socicons
	{
		margin-left: 3%;
		width: 18px;
		height: 18px;
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}
	.socicons:hover
	{
	filter: grayscale(0%);
	}
	.logo
	{
		width: 7%;
		float: right;
	}
	.row
	{
		position: relative;
		padding-bottom: 0px;
	}
	.screen
	{
		width: 100%; 
		height: 70vh
	}
	section
	{
		width: 100vw;
		height: 100vh;
		padding: 5%;
	}
	p
	{
		color:#fdf9f5;
		font-size: 120%;
    	text-align: justify;
	}
	.visible
	{
	    width: 75%;
    	margin-left: 12.5%;
    	font-size: 100%;
    	height: 70vh;
	}
	.footerdiv
	{
		 vertical-align: bottom;
		 margin-left: 35%;
		margin-top : -1.5%;
	}
	.footerdiv1
	{
		 vertical-align: bottom;
		 margin-left: 35%;
	}
	.containers
	{
		margin-top: 15vh;
	}
	.nikoin
	{
		width: 20%;
	}
	.partum_btn
	{
		margin-left: 45%; margin-top: 5%
	}
	.nikoin
	{
		margin-top: -1%;
	}
	.nikoin1
	{
    	margin-top: -1%;
	}
/*Portrait Screem*/
@media only screen and (min-device-width: 320px) and (min-device-height : 568px) and (orientation: portrait) 
{
	body
	{
		overflow: unset;
	}
	.logo
	{
		width: 16%;
		float: right;
		margin-top: 2%;
	}
	.mainmenu {
    z-index: 999999;
    width: 100%;
    padding: 15px 0 0 0;
    height: 10vh;
	}
	canvas
	{
		height: 90vh;
	}
	.footerdiv
	{
		 vertical-align: bottom;
		 margin-left: 0px;
		 margin-top: 4%;
		 width: 100%;
	}
	.footerdiv1
	{
		 vertical-align: bottom;
		 margin-left: 0px;
		 width: 100%;
	}
	.containers
	{
		margin-top: 0px;
	}
	.nikoin
	{
		width: 45%;
    	margin-left: 20%;
    	margin-top: 5%;
	}
	.nikoin1
	{
		width: 43%;
    	margin-left: 8%;
    	margin-top: 2%;
	}
	.socicons
	{
		margin-left: 7%;
		width: 18px;
		height: 18px;
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}
	.socicons:hover
	{
	filter: grayscale(0%);
	}
	.partum_btn
	{
		margin-left: 35%;
		margin-top: 5%
	}
	.visible
	{
		height: auto;
	}
	.title
	{
		font-size: 3em;
	}
}
/*@media only screen and (max-device-width: 1024px)  and (max-device-height : 1366px) and (orientation: portrait) 
{
	.logo
	{
		width: 10%;
		float: right;
		margin-top: 1%
	}
}*/
